@font-face {
  font-family: 'code-editor';
  src:  url('fonts/code-editor.eot?ueri2y');
  src:  url('fonts/code-editor.eot?ueri2y#iefix') format('embedded-opentype'),
    url('fonts/code-editor.ttf?ueri2y') format('truetype'),
    url('fonts/code-editor.woff?ueri2y') format('woff'),
    url('fonts/code-editor.svg?ueri2y#code-editor') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'code-editor' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-text:before {
  content: "\e926";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-users:before {
  content: "\e972";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-list2:before {
  content: "\e9bb";
}
